.addMore button {
  margin: 1rem;
  border-radius: 10%;
  cursor: pointer;
  width: 100%;
  height: 30px;
  background-color: #c6c6d1;
  font-size: large;
  border-style: none;
}

.addMore button:hover {
  border: 1px solid black;
}
